.tópicos {
    background: var(--azul-degrade); /* Mantém o fundo em azul degradê */
    text-align: center;
    padding: 1em 0;
}

.tópicos__titulo {
    color: var(--branco);
    font-weight: 300;
    margin-bottom: 1em;
    font-size: 18px; /* Tamanho inicial para telas menores */
}

.tópicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tópicos__item {
    margin: 2em 0.5em;
}

.tópicos__link {
    color: var(--branco);
    padding: 1em;
    background-color: var(--laranja); /* Cor laranja para destaque */
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px; /* Adiciona bordas arredondadas aos links */
}

@media screen and (min-width: 1024px) {
    .tópicos__titulo {
        font-size: 24px; /* Aumenta o tamanho do título em telas maiores */
    }

    .tópicos__link {
        font-size: 24px; /* Aumenta o tamanho dos links em telas maiores */
    }
}

@media screen and (min-width: 1728px) {
    .tópicos {
        padding: 3em 30vw; /* Aumenta o padding para telas grandes */
    }
}
